@font-face {
    font-family: jofrey;
    src: url(/style/fonts/joffrey.ttf);
}

@keyframes animation-menu {
    0%   {width: 800px; height: 800px; transform: rotate(-8deg);}
    25%  {width: 600px; height: 790px; transform: rotate(8deg);}
    50%  {width: 800px; height: 800px; transform: rotate(-8deg);}
    75%  {width: 600px; height: 790px; transform: rotate(8deg);}
    100% {width: 800px; height: 800px; transform: rotate(-8deg);}
}

body {
    background-image: url(../style/img/paper_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: jofrey;
}

.star {
    width: 60px;
    height: 60px;
    
}

.star1 {
    width: 70px;
    height: 70px;
    
}

.star2 {
    width: 80px;
    height: 80px;
}

.panel {
    position: absolute;
    width: 260px;
    padding: 10px;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.2;
}

.points {
    float: left;
    font-size: 40px;
}

.menu_name {
    width: 800px;
    height: 800px;
    animation: animation-menu ;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.button_config {
    width: 200px;
    height: 70px;
    font-size: 40px;
}

.point_end {
    font-size: 200px;
}

