body {
    background-image: url(../style/img/paper_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.game_first {
    margin-left: 50%;
    margin-top: 35%;
}


